{% extends 'shablon3.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 12rem;">
                    <img src="../static/image/cont__1__4.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Связаться с нами</h5>
                        <p class="card-text">Тел: 8-911-111-11-11</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 12rem;">
                    <img src="../static/image/cont__1__2.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Адрес</h5>
                        <p class="card-text">Московское шоссе, 30к2</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 12rem;">
                    <img src="../static/image/cont__1__3.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Как добраться</h5>
                        <p class="card-text">Метро Звездная из метро направо</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}