{% extends 'shablon3.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/1.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Абонемент 8 занятий</h5>
                        <p class="card-text">Можно исплользовать в течение трех месяцев</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/2.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Индивидуальное занятие</h5>
                        <p class="card-text">1 индивидуальное занятие с педагогом</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/3.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Логопед</h5>
                        <p class="card-text">Консультация и занятие по развитию речи.</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}